.cardList {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-top: 160px;
}


.cardList > * {
box-sizing: border-box;
}
.cardList > *:not(:last-child) {
margin-right: 32px;
}

.cardListItem {
flex: 0 1 calc(33.3% - 32px);
}

.align
{
    margin-left: 44px;
}