.cardList {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-top: 160px;
}

/* Column Gap */
.cardList > * {
box-sizing: border-box;
}
.cardList > *:not(:last-child) {
margin-right: 32px;
}
/* Item sizing */
.cardListItem {
flex: 0 1 calc(33.3% - 32px);
}

.align
{
    margin-left: 44px;
}

.btn-block:hover
{
background-image:none;
background-color:#00c3ff;
}
input.ng-invalid.ng-touched {
    border: 1px  red;
 }
.error{
    margin-left: 20px;
    color: red;
}