<mat-form-field class="example-chip-list">
  <mat-label><h5>Add Dependencies</h5></mat-label>
  <mat-chip-list #chipList >
          <mat-chip 
      *ngFor="let task of temp_task;let i = index"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(task)">
         {{task}} 
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="New Task..."
      #taskInput
      [formControl]="taskCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let task of subtasks ">
      {{task.subtaskName}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

