<div> <form [formGroup]="sessionForm">
  <mat-form-field appearance="fill">
      <mat-label> Sub Task Name</mat-label>
      <input matInput formControlName="taskname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Task Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Task Status</mat-label>
      <input matInput formControlName="status">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Task Priority</mat-label>
      <input matInput formControlName="priority">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Start Date</mat-label>
      <input matInput formControlName="start">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> End Date</mat-label>
      <input matInput formControlName="end">
    </mat-form-field>
    <app-add-dependency></app-add-dependency>
    <button mat-stroked-button color="primary"  class="btn-block" (click)="updateValue()">Update</button>
  </form>
</div>


